html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Orbitron, sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}
.fire {
  display: flex;
  align-items: center;
  color: #57B8FF;
}
.fire__img {
  margin-right: 8px;
}
.button {
  padding: 21px 34px;
  background: #57B8FF;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  transition: all .3s;
}
.button:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.slick-track img {
  margin-right: 32px;
}

.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88));
  color: #fff;
  &__top {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
  }

  &__logo {
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    margin-right: 60px;
    line-height: 26px;
    transition: all .3s;
    &:hover {
      color: #FAC422;
      transition: all .3s;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
  }

  &__contact-img {
    margin-right: 40px;
    margin-left: 30px;
    &:hover {
      transform: scale(1.1)
    }
  }

  &__contact-btn {
    background-color: inherit;
    color: #fff;
    border: 1px solid #FFFFFF;
    padding: 16px 31px;
    transition: all .3s;
    &:hover {
      transform: scale(1.1);
      transition: all .3s;
    }
  }

  &__body {
  }

  &__body-container {
    display: flex;
  }

  &__body-main {
    padding: 297px 0 218px;
    max-width: 784px;
  }

  &__body-main-inner {
    display: flex;
  }

  &__socials {
    display: flex;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: relative;
    right: 30px;
    bottom: 130px;
  }

  &__social {
    margin-bottom: 49px;
    font-size: 11px;
    line-height: 25px;
    color: #80858F;
    &:hover {
      color: #FAC422;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__body-main-text {
    max-width: 656px;
    position: relative;
    right: 15px;
  }

  &__title {
    font-size: 72px;
    line-height: 86px;
    text-transform: capitalize;
    max-width: 656px;
    margin-bottom: 45px;
    padding-top: 24px;
  }

  &__title-line {
    position: relative;
    left: 220px;
    bottom: 135px;
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    color: #999999;
    max-width: 615px;
    margin-bottom: 53px;
  }

  &__buttons {
  }

  &__button {
  }

  &__view {
    background-color: inherit;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-left: 40px;
    transition: all .3s;
    &:hover {
      transform: scale(1.1);
      transition: all .3s;
    }
  }

  &__body-blue {
    max-width: 634px;
    max-height: 1069px;
    position: relative;
    bottom: 71px;
    left: 746px;  
    display: inline-block;
  }

  &__blue {
  }

  &__player {
    position: relative;
    bottom: 760px;
    right: 85px;
  }
  &__block-made {
    position: absolute;
    bottom: 281px;
    right: 12px;
    background: #fff;
    padding: 6px;
    display: flex;
    align-items: center;
  }
  &__block-made-icon {
    margin-right: 8px;
  }
}
.burger {
  display: none;
}
.container {
}
.fire {

  &__img {
  }

  &__text {
  }
}



@media (max-width: 1330px){
  .header {
    &__body-blue {
      display: none;
    }
    &__body-container {
      margin: 0 auto;
      text-align: center;
      justify-content: center;
    }
    &__body-main {
      padding: 100px 0 100px;
      max-width: 784px;
  }
  }
}

@media(max-width: 1000px) {
    .burger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 5px;
      left: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      z-index: 150;
      & span {
        display: block;
      width: 20px;
      height: 3px;
      background-color: #fff;
      margin: 5px 0;
      }
      &::before,
      &::after {
      content: '';
      display: block;
      width: 20px;
      height: 3px;
      background-color: #fff;
    }
    }
    .burger--follow {
      background-color: rgb(200, 200, 200);
      box-shadow: 0 1px 20px #a1a1a1;
      & span,
      &::before,
      &::after {
      background-color: #000;
    }
    }
    .burger--close span {
      display: none;
    }
    .burger--close.burger::before {
      transform: rotate(45deg);
      position: fixed;
      top: 25px;
      transition: all .3s;
    } 
    .burger--close.burger::after {
      transform: rotate(-45deg);
      position: fixed;
      top: 25px;
      transition: all .3s;
    } 

    .header {
      &__top {
        margin-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        background: lightslategrey;
        z-index: 100;
        transform: translateX(-100%);
        transition: all .3s;
      }
      &__top--open {
        transform: translateX(0);
        transition: all .3s;
      }
      &__top-inner {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding: 50px 0;
      }
      &__nav-list {
        flex-direction: column;
        align-items: center;
      }
      &__nav-item {
        margin: 0 0 10px 0;
      }
      &__contact {
        flex-direction: column;
      }
      &__contact-img {
        margin: 0 0 20px 0;
      }
      &__title {
        font-size: 48px;
        line-height: 66px;
        margin-bottom: 15px;
        padding-top: 24px;
    }
      &__title-line {
        display: none;
      }
    }
}

@media(max-width: 500px) {
  .header {
    &__title {
      font-size: 38px;
      line-height: 46px;
    }
    &__buttons {
    display: flex;
    flex-direction: column;
    }
    &__button {
      margin-bottom: 50px;
    }
    &__view {
      margin-left: 0;
    }
  }
}

// ========================SPONSORS=========================

.sponsors {
  background: #FDD04A;
  &__inner {
    padding: 128px 0 140px;
  }
  &__title {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #222730;
    margin-bottom: 7px;
    
  }
  &__line {
    display: block;
    margin: 0 auto;
    margin-bottom: 29px;
    transform: translateX(40px);
  }
  &__text {
    line-height: 26px;
    text-align: center;
    color: #555555;
    margin-bottom: 51px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__icon {
    
  }
}
@media (max-width: 1187px) {
  .sponsors {
    &__icons {
      justify-content: center;
    }
    &__icon {
      margin: 0 10px 10px 0;
    }
  }
}
@media (max-width: 436px) {
  .sponsors {
    &__inner {
      padding: 50px 0 50px;
    }
    &__line {
      display: none;
    }
  }
  
}

// =============================ADVANTAGES==========================

.advantages {
  background: url("../images/needs-background.jpg");
  &__inner {
    padding: 136px 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  &__title {
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 39px;
    color: #FFFFFF;
    text-align: center;
    max-width: 716px;
  }

  &__text {
    font-size: 20px;
    line-height: 32px;
    color: rgba(223, 223, 223, 0.8);
    margin-bottom: 61px;
    text-align: center;
    max-width: 698px;
  }

  &__items {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 32px;
  }

  &__item {
    padding: 35px 35px 35px 80px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    max-width: 586px;
    position: relative;
    transition: all .3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      transition: all .3s;
    }
  }

  &__item-title {
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 19px;
  }

  &__item-text {
    font-size: 18px;
    line-height: 28px;
    color: rgba(223, 223, 223, 0.8);
  }
  &__item-square {
    position: absolute;
    top: 35px;
    left: 35px;
  }
}

@media (max-width: 850px) {
  .advantages {
    &__items {
      gap: 10px;
    }
    &__title {
      font-size: 48px;
      line-height: 54px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    &__item-square {
      display: none;
    }
    &__item {
      padding: 20px;
    }
    &__item-title {
      font-size: 24px;
      line-height: 42px;
      margin-bottom: 0;
    }
  
    &__item-text {
      font-size: 16px;
      line-height: 28px;
    }
}
}
@media(max-width: 685px) {
  .advantages {
    &__inner {
      padding: 50px 0;
    }
    &__items {
      display: block;
    }
    &__item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
}
}


// ======================CLOUD=====================================

.cloud {
  background: #000;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 130px 0;
  }

  &__main {
    margin-right: 50px;
  }

  &__title {
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
    margin-bottom: 38px;
    max-width: 684px;
    padding-top: 22px;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    color: rgba(223, 223, 223, 0.8);
    margin-bottom: 54px;
    max-width: 721px;
  }

  &__button {
    margin-bottom: 22px;
  }

  &__video {
    position: relative;
    cursor: pointer;
    &:hover .cloud__video-icon {
      transform: scale(1.1);
      transition: all .3s;
    }
  }

  &__video-img img {
    max-width: 100%;
  }

  &__video-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .3s;
  }
}

@media(max-width: 900px) {
  .cloud {
  &__inner {
    flex-direction: column;
    padding: 50px 0;
  }
  &__main {
    text-align: center;
    margin: 0 0 24px 0;
  }
  &__title {
    font-size: 38px;
    line-height: 54px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}
}


// ==========================CUSTOMIZE=============================

.customize {
  background: #2A313C;
  &__inner {
    display: block;
    position: relative;
    padding: 89px 0 48px;
  }
  &__image-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &__main {
    max-width: 590px;
    margin-left: auto;
  }

  &__title {
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
    margin-bottom: 38px;
    max-width: 566px;
    padding-top: 22px;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    color: rgba(223, 223, 223, 0.8);
    margin-bottom: 65px;
    max-width: 562px;
  }
  &__slide {
    width: 174px;
    margin-right: 30px;
  }
  &__slider-arrows {
    height: 30px;
    position: relative;
    bottom: 70px;
    display: flex;
    justify-content: space-between;
    max-width: 572px;
    
  }
  &__slider-arrow-left,
  &__slider-arrow-right {
    transition: all .3s;
  }
  &__slider-arrow-left:hover,
  &__slider-arrow-right:hover {
    transform: scale(1.3);
    transition: all .3s;
  }

}


@media(max-width: 1220px) {
  .customize {
  &__inner {
    
  }
  &__image-main {
    display: none;
  }
  &__main {
    margin: auto;
  }
  &__title {
    font-size: 38px;
    line-height: 54px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}
}

@media(max-width: 570px) {
  .customize {
    &__inner {
      padding: 30px 30px;
    }
  &__slide {
    margin-left: 30px;
  }
  &__slider-arrows {
    display: none;
  }

}
}
@media(max-width: 480px) {
  .customize {
  &__slide {
    margin-left: 10px;
  }
  &__slider-arrows {
    display: none;
  }

}
}


// ====================================GAME MODE================================================


.gamemode {
  overflow: hidden;
  &__inner {
    display: flex;
  }

  &__modes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: scale(1.01);
    transition: all .3s;
    &:hover .gamemode__icon {
      transform: scale(1.1);
      transition: all .3s;
    }
    &:hover .gamemode__title {
      transform: scale(1.1);
      transition: all .3s;
    }
    &:hover .gamemode__img {
      transform: scale(1.01);
      transition: all .3s;
    }
  }
  &__img {
    width: 100%; 
    transition: all .3s;
  }

  
  &__title-icon {
    position: absolute;
    bottom: 35%;
  }
  &__icon {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    transition: all .3s;
  }
  &__title {
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    transition: all .3s;
  }
}

@media(max-width: 1220px) {
  .gamemode {
    &__title {
      font-size: 20px;
    }
    &__icon {
      width: 30%;
      margin-bottom: 0;
    }
  }
}
@media(max-width: 500px) {
  .gamemode {
    &__title {
      display: none;
    }
}
}


// ==========================================NEWS==================================================


.news {
  background: #000;
  &__inner {
    padding: 136px 0 130px;
  }

  &__title {
    max-width: 541px;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
    margin-bottom: -74px;
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-bottom: 74px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item-main {
    &:hover {
      transform: scale(1.01);
      transition: all .3s;
    }
  }
  &__item-main-img img {
    margin-bottom: 54px;
    max-width: 648px;
  }
  &__item-main-img figure {
    display: inline-block;
    width: min-content;
    
  }
  &__item-main-img figcaption {
    font-size: 18px;
    line-height: 18px;
    color: #57B8FF;
    margin-bottom: 28px;
  }

  &__item-main-text {
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    text-transform: capitalize;
  }
  
  &__item-others {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
  &__item-other {
    &:hover {
      transform: scale(1.01);
      transition: all .3s;
    }
  }

  &__item-other-img img {
    margin-bottom: 30px;
    max-width: 312px;
  }
  &__item-other-img figure {
    display: inline-block;
    width: min-content;
  }
  &__item-other-img figcaption {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #57B8FF;
  }

  &__item-other-text {
    color: #FFFFFF;
    font-size: 23px;
    line-height: 34px;
    text-transform: capitalize;
  }
}
