html, body {
    font-family: Orbitron, sans-serif;
  }
  .wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .container {
    width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
  }

  
  .header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88));
    color: #fff;
  }
  .header__top {

  }
  .header__top-inner {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: relative;
  }
  .header__nav-list {
    display: flex;
  }
  .header__nav-item {
    margin-right: 60px;
    line-height: 26px;
  }
  .header__nav-item:last-child {
    margin-right: 0;
  }
  .header__contact {
    display: flex;
  }
  /* .header__socials {
    padding-top: 319px;
    display: flex;
    
  } */
 
  .header__body-main {
    padding-top: 297px;
  }
  .header__title {
    font-size: 72px;
    line-height: 86px;
    text-transform: capitalize;
    max-width: 656px;
    margin-bottom: 45px;
  }
  .header__text {
    font-size: 18px;
    line-height: 28px;
    color: #999999;
    max-width: 615px;
    margin-bottom: 53px;
  }
  .header__body-blue {
    background: #57B8FF;
    max-width: 643px;
    position: absolute;
    top: 0;
    right: 0;
    
  }
  .header__body-blue-inner {
    padding-top: 296px;
  }