html, body {
  font-family: Orbitron, sans-serif;
  font-size: 16px; }

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden; }

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto; }

.fire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #57B8FF; }

.fire__img {
  margin-right: 8px; }

.button {
  padding: 21px 34px;
  background: #57B8FF;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  -webkit-transition: all .3s;
  transition: all .3s; }

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s;
  transition: all .3s; }

.header {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.88)), to(rgba(0, 0, 0, 0.88)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88));
  color: #fff; }
  .header__top {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .header__top-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    position: relative; }
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__nav-item {
    margin-right: 60px;
    line-height: 26px;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .header__nav-item:hover {
      color: #FAC422;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .header__nav-item:last-child {
      margin-right: 0; }
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__contact-img {
    margin-right: 40px;
    margin-left: 30px; }
    .header__contact-img:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .header__contact-btn {
    background-color: inherit;
    color: #fff;
    border: 1px solid #FFFFFF;
    padding: 16px 31px;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .header__contact-btn:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: all .3s;
      transition: all .3s; }
  .header__body-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__body-main {
    padding: 297px 0 218px;
    max-width: 784px; }
  .header__body-main-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    position: relative;
    right: 30px;
    bottom: 130px; }
  .header__social {
    margin-bottom: 49px;
    font-size: 11px;
    line-height: 25px;
    color: #80858F; }
    .header__social:hover {
      color: #FAC422; }
    .header__social:last-child {
      margin-bottom: 0; }
  .header__body-main-text {
    max-width: 656px;
    position: relative;
    right: 15px; }
  .header__title {
    font-size: 72px;
    line-height: 86px;
    text-transform: capitalize;
    max-width: 656px;
    margin-bottom: 45px;
    padding-top: 24px; }
  .header__title-line {
    position: relative;
    left: 220px;
    bottom: 135px; }
  .header__text {
    font-size: 18px;
    line-height: 28px;
    color: #999999;
    max-width: 615px;
    margin-bottom: 53px; }
  .header__view {
    background-color: inherit;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-left: 40px;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .header__view:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: all .3s;
      transition: all .3s; }
  .header__body-blue {
    max-width: 634px;
    max-height: 1069px;
    position: relative;
    bottom: 71px;
    left: 725px;
    display: inline-block; }
  .header__player {
    position: relative;
    bottom: 760px;
    right: 85px; }
  .header__block-made {
    position: absolute;
    bottom: 281px;
    right: 12px;
    background: #fff;
    padding: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__block-made-icon {
    margin-right: 8px; }

.burger {
  display: none; }

@media (max-width: 1330px) {
  .header__body-blue {
    display: none; }
  .header__body-container {
    margin: 0 auto;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__body-main {
    padding: 100px 0 100px;
    max-width: 784px; } }
@media (max-width: 1000px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 150; }
    .burger span {
      display: block;
      width: 20px;
      height: 3px;
      background-color: #fff;
      margin: 5px 0; }
    .burger::before, .burger::after {
      content: '';
      display: block;
      width: 20px;
      height: 3px;
      background-color: #fff; }

  .burger--follow {
    background-color: #c8c8c8;
    -webkit-box-shadow: 0 1px 20px #a1a1a1;
            box-shadow: 0 1px 20px #a1a1a1; }
    .burger--follow span, .burger--follow::before, .burger--follow::after {
      background-color: #000; }

  .burger--close span {
    display: none; }

  .burger--close.burger::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: fixed;
    top: 25px;
    -webkit-transition: all .3s;
    transition: all .3s; }

  .burger--close.burger::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: fixed;
    top: 25px;
    -webkit-transition: all .3s;
    transition: all .3s; }

  .header__top {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background: lightslategrey;
    z-index: 100;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .header__top--open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .header__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    padding: 50px 0; }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__nav-item {
    margin: 0 0 10px 0; }
  .header__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__contact-img {
    margin: 0 0 20px 0; }
  .header__title {
    font-size: 48px;
    line-height: 66px;
    margin-bottom: 15px;
    padding-top: 24px; }
  .header__title-line {
    display: none; } }
@media (max-width: 500px) {
  .header__title {
    font-size: 38px;
    line-height: 46px; }
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__button {
    margin-bottom: 50px; }
  .header__view {
    margin-left: 0; } }
.sponsors {
  background: #FDD04A; }
  .sponsors__inner {
    padding: 128px 0 140px; }
  .sponsors__title {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #222730;
    margin-bottom: 7px; }
  .sponsors__line {
    display: block;
    margin: 0 auto;
    margin-bottom: 29px;
    -webkit-transform: translateX(40px);
            transform: translateX(40px); }
  .sponsors__text {
    line-height: 26px;
    text-align: center;
    color: #555555;
    margin-bottom: 51px; }
  .sponsors__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

@media (max-width: 1187px) {
  .sponsors__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .sponsors__icon {
    margin: 0 10px 10px 0; } }
@media (max-width: 436px) {
  .sponsors__inner {
    padding: 50px 0 50px; }
  .sponsors__line {
    display: none; } }

/*# sourceMappingURL=style.css.map */